<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <title>T R I V I A</title>
  </head>
  <body>
    <div class="food-container1">
      <h1>What is the rarest M&M color?</h1>
      <ul>
        <a href="/yes/food/1/<%= totalScore %>">A. Brown</a>
      </ul>
      <ul>
        <a href="/no/food/1/<%= totalScore %>">B. Blue</a>
      </ul>
      <ul>
        <a href="/no/food/1/<%= totalScore %>">C. Yellow</a>
      </ul>
      <ul>
        <a href="/no/food/1/<%= totalScore %>">D. Pink</a>
      </ul>
    </div>
  </body>
</html>
