<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <title>T R I V I A</title>
  </head>
  <body>
    <div class="geo-container2">
      <h1>Which country borders 14 nations and crosses 8 time zones?</h1>
      <ul>
        <a href="/no/geo/2/<%= totalScore %>">A. China</a>
      </ul>
      <ul>
        <a href="/yes/geo/2/<%= totalScore %>">B. Russia</a>
      </ul>
      <ul>
        <a href="/no/geo/2/<%= totalScore %>">C. Brazil</a>
      </ul>
      <ul>
        <a href="/no/geo/2/<%= totalScore %>">D. Canada</a>
      </ul>
    </div>
  </body>
</html>
