<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <title>T R I V I A</title>
  </head>
  <body>
    <div class="geo-container4">
      <h1>What country has the most natural lakes?</h1>
      <ul>
        <a href="/no/geo/4/<%= totalScore %>">A. Italy</a>
      </ul>
      <ul>
        <a href="/yes/geo/4/<%= totalScore %>">B. Canada</a>
      </ul>
      <ul>
        <a href="/no/geo/4/<%= totalScore %>">C. United States</a>
      </ul>
      <ul>
        <a href="/no/geo/4/<%= totalScore %>"> D. Switzerland</a>
      </ul>
    </div>
  </body>
</html>
