<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>T R I V I A</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" type="text/css">
		<link rel="stylesheet" href="/css/noscript.css" type="text/css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<noscript></noscript>
		<style>
			.card {
  				margin-bottom: 3%;
  				padding-bottom: 20px;
  				align-content: center;
				margin-right: 10px;
				margin-left: 10px;
			}
			.card-img-top
			 {
				display: block;
				width: 80%;
				margin-left: 12px;
				margin-right: 12px;
			}
		</style>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>
							<%= user %>,
							<br>	
							W E L C O M E TO
							<br>
        					T R I V I A
							<br>
							T U E S D A Y S</h1>
						<p>Train your Brain to be ready for the next Jepardy</p>
						<ul class="actions">
							<li><a href="#header">O</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="/" class="logo">Let's Play</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="/">Let's Play!</a></li>
							<li><a href="/leader">Leaderboard</a></li>
							<li><a href="/logout">Log Out</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<span class="date">Pick Your Category</span>
									<div class="row">
											<div class="card" style="width: 18rem; align-content: center;">
											<img class="card-img-top" src="https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1270&q=80" >
											<div class="card-body">
										  		<p class="card-text" style="align-content: center;">Test your knowledge on facts about food</p>
										  		<a href="/food" class="btn btn-primary">
											  Food</a>
											</div>
									  		</div>
									  <div class="card" style="width: 18rem;">
										<img class="card-img-top" src="https://images.unsplash.com/photo-1526778548025-fa2f459cd5c1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1450&q=80" alt="Card image cap">
										<div class="card-body" style="align-content: center;">
										  <p class="card-text">Challenge your knowledge of the world</p>
										  <a href="/geo" class="btn btn-primary">
											Geography</a>
										</div>
									  </div>
									  <div class="card" style="width: 18rem;">
										<img class="card-img-top" src="https://images.unsplash.com/photo-1507413245164-6160d8298b31?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="Card image cap">
										<div class="card-body" >
										  <p class="card-text">Sharpen your science knowledge bank</p>
										  <a href="/science" class="btn btn-primary">
											Science</a>
										</div>
									  </div>
								</div>
							</article>
				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
					</div>
			</div>

	</body>
</html>