<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <title>T R I V I A</title>
  </head>
  <body>
    Welcome to Trivia Tuesdays<%= punct %> <%= my_user %>

    <form action="/login" method="POST">
      <p>
        <input type="text" name="username" placeholder="username" />
      </p>
      <p>
        <input type="text" name="password" placeholder="password" />
      </p>
      <input type="submit" value="Login" />
    </form>
    <% if (invalid_login) { %>
    <div class="error">
      ERROR: The username and/or password is incorrect.
      <br />
      <a href="/signup">Sign Up</a>
    </div>
    <% } %>
  </body>
</html>
