<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <title>T R I V I A</title>
  </head>
  <body>
    <div class="sci-container2">
      <h1>How many teeth does an adult human have?</h1>
      <ul>
        <a href="/no/science/2/<%= totalScore %>">A. 31</a>
      </ul>
      <ul>
        <a href="/yes/science/2/<%= totalScore %>">B. 32</a>
      </ul>
      <ul>
        <a href="/no/science/2/<%= totalScore %>">C. 33</a>
      </ul>
      <ul>
        <a href="/no/science/2/<%= totalScore %>">D. 34</a>
      </ul>
    </div>
  </body>
</html>
