<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <title>T R I V I A</title>
  </head>
  <body>
    <div class="sci-container4">
      <h1>From what tree do acorns come from?</h1>
      <ul>
        <a href="/no/science/4/<%= totalScore %>">A. Acorn Trees</a>
      </ul>
      <ul>
        <a href="/yes/science/4/<%= totalScore %>">B. Oak Trees</a>
      </ul>
      <ul>
        <a href="/no/science/4/<%= totalScore %>">C. Pine Trees</a>
      </ul>
      <ul>
        <a href="/no/science/4/<%= totalScore %>">D. Squirrels</a>
      </ul>
    </div>
  </body>
</html>
