<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <title>T R I V I A</title>
  </head>
  <body>
    <div class="sci-container1">
      <h1>What tissues connect the muscles to the bones?</h1>
      <ul>
        <a href="/yes/science/1/<%= totalScore %>">A. Tendons</a>
      </ul>
      <ul>
        <a href="/no/science/1/<%= totalScore %>">B. Ligaments</a>
      </ul>
      <ul>
        <a href="/no/science/1/<%= totalScore %>">C. Cartilage</a>
      </ul>
      <ul>
        <a href="/no/science/1/<%= totalScore %>">D. Joints</a>
      </ul>
    </div>
  </body>
</html>
