.food-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 2px;
  background: url('https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2270&q=80');
}

.food-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 2px;
  background: url('https://images.unsplash.com/photo-1581798459219-318e76aecc7b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2270&q=80');
}

.food-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 2px;
  background: url('https://images.unsplash.com/photo-1626697556651-67ebdcb8cbd6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2270&q=80');
}

.food-container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 2px;
  background: url('https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2270&q=80');
}

.food-container4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 2px;
  background: url('https://images.unsplash.com/photo-1629385701021-fcd568a743e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2270&q=80');
}

.food-container5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 2px;
  background: url('https://images.unsplash.com/photo-1486297678162-eb2a19b0a32d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2270&q=80');
}

.geo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 2px;
  background: url('https://images.unsplash.com/photo-1521295121783-8a321d551ad2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2270&q=80');
}

.geo-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 2px;
  background: url('https://images.unsplash.com/photo-1589519160142-7d1a51b43eaf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2270&q=80');
}

.geo-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 2px;
  background: url('https://images.unsplash.com/photo-1512856246663-647a81ef198e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2270&q=80');
}

.geo-container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 2px;
  background: url('https://images.unsplash.com/photo-1588676449872-3eaa8b242e69?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2270&q=80');
}

.geo-container4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 2px;
  background: url('https://images.unsplash.com/photo-1531275090635-95f0974c3073?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2270&q=80');
}

.geo-container5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 2px;
  background: url('https://images.unsplash.com/photo-1532887626447-69c3b6bfa3bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2270&q=80');
}

.sci-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 2px;
  background: url('https://images.unsplash.com/photo-1507413245164-6160d8298b31?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2270&q=80');
}

.sci-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 2px;
  background: url('https://images.unsplash.com/photo-1530210124550-912dc1381cb8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2270&q=80');
}

.sci-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 2px;
  background: url('https://images.unsplash.com/photo-1584650589355-e891970a9081?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2270&q=80');
}

.sci-container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 2px;
  background: url('https://images.unsplash.com/photo-1560808453-c11f0298d3be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2270&q=80');
}

.sci-container4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 2px;
  background: url('https://images.unsplash.com/photo-1591305074950-fc47c68e25a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2270&q=80');
}

.sci-container5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 2px;
  background: url('https://images.unsplash.com/photo-1532094349884-543bc11b234d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2270&q=80');
}

.wrong {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  border: solid black 2px;
  background: url('https://images.unsplash.com/photo-1573019606806-9695d0a9739d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
}

.correct {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  border: solid black 2px;
  background: url('https://images.unsplash.com/photo-1492684223066-81342ee5ff30?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2270&q=80');
}

.end {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  border: solid black 2px;
  background: url('https://images.unsplash.com/photo-1578269174936-2709b6aeb913?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2270&q=80');
}

h1 {
  font-size: 50px;
  border: solid black 2px;
  background-color: rgb(148, 143, 151);
}

h2 {
  font-size: 40px;
  border: solid black 2px;
  background-color: rgb(144, 4, 224);
}

ul {
  font-size: 30px;
  padding: 10px 10px;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  border: solid black 2px;
  background-color: rgb(197, 141, 235);
  border-radius: 2px;
}

a {
  color: #4a13e2;
  text-decoration: none;
}
